src/__pycache__/__init__.cpython-312.pyc
src/services/__pycache__/__init__.cpython-312.pyc
src/services/__pycache__/format_service.cpython-312.pyc

src/ui/__pycache__/__init__.cpython-312.pyc
src/ui/__pycache__/calculator_widget.cpython-312.pyc
src/ui/__pycache__/calendar_widget.cpython-312.pyc
src/ui/__pycache__/combined_tools_widget.cpython-312.pyc
src/ui/__pycache__/file_explorer.cpython-312.pyc
src/ui/__pycache__/html_editor.cpython-312.pyc
src/ui/__pycache__/note_downloader_widget.cpython-312.pyc
src/ui/__pycache__/sticky_note_widget.cpython-312.pyc
src/ui/__pycache__/pdf_viewer.cpython-312.pyc
src/ui/__pycache__/timer_widget.cpython-312.pyc
src/ui/__pycache__/todo_widget.cpython-312.pyc
src/ui/components/__pycache__/__init__.cpython-312.pyc
src/ui/components/__pycache__/edit_operations.cpython-312.pyc
src/ui/components/__pycache__/file_operations.cpython-312.pyc
src/ui/components/__pycache__/ui_initializer.cpython-312.pyc
src/ui/components/__pycache__/ui_manager.cpython-312.pyc
src/ui/components/__pycache__/view_operations.cpython-312.pyc
src/utils/__pycache__/__init__.cpython-312.pyc
src/utils/__pycache__/pdf_utils.cpython-312.pyc
src/utils/__pycache__/theme_manager.cpython-312.pyc

"note_downloader/downloads/" 
